<ol>
    <li>
      <label><%= t 'general.product' %></label>
      <%= select_for_sale_line_products %>
    </li>
    <li>
      <label><%= t 'general.quantity' %></label>
       <%= text_field :sale_line, :qty %>
    </li>

</ol>

